<div class="topnav">
  <h1>USER PROFILE</h1>
</div>

<div class="data-container">
  <div class="sidebar sidebar-sticky">
    <ul class="nav flex-column">
      <li [ngClass]="{'activePage' : isOnPage}" class="nav-item" (click)="isOnPage ? authService.navigateToUserProfile() : false">
        <a class="nav-link">
          <i class="fas fa-user"></i>User Profile
        </a>
      </li>
      <li class="nav-item" (click)="authService.navigateToDataDashboard()">
        <a class="nav-link">
          <i class="fas fa-file"></i>Data
        </a>
      </li>
      <!-- Calling SignOut() Api from AuthService -->
      <li class="nav-item" (click)="authService.SignOut()">
        <a class="nav-link">
          <i class="fas fa-sign-out-alt"></i>Log out
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="authService.user as user">
    <div class="data">
      <img class="align-self-start mr-5 img-thumbnail rounded-circle user-photo" src="{{(user?.value?.photoURL) ? (user?.value?.photoURL) : '../../../assets/doge.jpg'}}"
           alt="{{user?.value?.email}}">

      <div class="content">
        <h1>Hello: <strong>User</strong></h1>
        <br>
        <p>User ID: <strong>{{user?.value?.uid}}</strong></p>
        <p>Email: <strong>{{user?.value?.email}}</strong></p>
        <p>Roles:</p>
        <ul>
          <li><p>reader: <strong>{{user?.value?.roles!.reader}}</strong></p></li>
          <li><p>admin: <strong>{{user?.value?.roles!.admin}}</strong></p></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bottomnav">
  <h1>2022 Putin loh</h1>
</div>
