<div class="authorization-page">
  <div class="authorization-box">

    <h2>Reset Password</h2>
    <p>Please enter your email address to request a password reset</p>

    <form>
      <div class="form-group">
        <i class="bx bxs-key"></i>
        <input type="text"
               id="passwordResetEmail"
               placeholder="Your email address" #passwordResetEmail
               required
        >
      </div>

      <input type="button" value="Reset password" (click)="authService.ForgotPassword(passwordResetEmail.value)">

      <div class="options">
        <a class="option" href="/sign-in">
          Back to sign in
        </a>
      </div>
    </form>
  </div>
</div>
