.reading {
  font-size: 1.4rem;
}
.fa-thermometer-half {
  color:#059e8a;
}
.fa-tint {
  color:#00add6;
}
.fa-angle-double-down {
  color: #fdc700;
}
.fa-sun {
  color: #ffe700;
}
.fa-arrow-up {
  color: #00add6;
}
