.data {
  display: flex;
}

.user-photo {
  height: 300px;
  width: 300px;
  object-fit: cover;
  margin: 50px 50px;
}

.content {
  margin-top: 50px;
  margin-left: 50px;
  text-align: start;
}

.content p{
  font-size: 25px;
}
