<div class="topnav">
  <h1>DATA</h1>
</div>

<div class="data-container">
  <div class="sidebar sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item" (click)="authService.navigateToUserProfile()">
        <a class="nav-link">
          <i class="fas fa-user"></i>User Profile
        </a>
      </li>
      <li [ngClass]="{'activePage' : isOnPage}" class="nav-item" (click)="isOnPage ? authService.navigateToDataDashboard() : false">
        <a class="nav-link">
          <i class="fas fa-file"></i>Data
        </a>
      </li>
      <!-- Calling SignOut() Api from AuthService -->
      <li class="nav-item" (click)="authService.SignOut()">
        <a class="nav-link">
          <i class="fas fa-sign-out-alt"></i>Log out
        </a>
      </li>
    </ul>
  </div>

  <app-parameters-container class=""></app-parameters-container>
  <div class="big-cards">
    <app-big-card-cities-info></app-big-card-cities-info>
    <app-big-card-cities-info></app-big-card-cities-info>
  </div>
</div>
<div class="bottomnav">
  <h1>2022 Putin loh</h1>
</div>
